*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;

}

body{

    min-height:100vh;

    background:linear-gradient(
        180deg,
        #0064FF 0%,
        #00173A 100%
    );

}

/* HEADER */

header{

    height:110px;

    background:#003FB4;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;

}

header h1{

    color:white;

    font-size:64px;

    font-weight:700;

}

.voltar{

    position:absolute;

    left:40px;

    text-decoration:none;

    color:white;

    font-size:48px;

}

.logo{

    position:absolute;

    right:60px;

    width:55px;

}

/* CONTEÚDO */

main{

    width:75%;

    margin:40px auto;

}

.card{

    width:100%;

    background:#2571FF;

    border-radius:28px;

    padding:45px 70px;

}

.card h2{

    color:white;

    text-align:center;

    font-size:32px;

    margin-bottom:50px;

}

.campo{

    margin-bottom:50px;

}

.campo label{

    display:block;

    color:white;

    font-size:26px;

    font-weight:bold;

    margin-bottom:20px;

}

.campo input{

    width:100%;

    height:45px;

    border:none;

    border-radius:25px;

    padding-left:20px;

    background:#A8C6FF;

    color:white;

    font-size:16px;

}

.campo input::placeholder{

    color:white;

}

/* BOTÃO */

.btnAdicionar{

    width:100%;

    height:72px;

    margin-top:45px;

    border:none;

    border-radius:28px;

    background:#2571FF;

    color:white;

    font-size:32px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.btnAdicionar:hover{

    background:#2C63D9;

}