<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Coleta</title>

    <link rel="stylesheet" href="css/coleta.css">

</head>

<body>

<header>

    <a href="inicio.html" class="voltar">
        ←
    </a>

    <h1>COLETA</h1>

    <img src="assets/logo.png" alt="Logo" class="logo">

</header>

<main>

    <div class="equipe-card">
        <span>EQUIPE</span>
        <button>ADICIONAR</button>
    </div>

    <div class="equipe-card">
        <span>EQUIPE</span>
        <button>ADICIONAR</button>
    </div>

    <div class="equipe-card">
        <span>EQUIPE</span>
        <button>ADICIONAR</button>
    </div>

    <div class="equipe-card">
        <span>EQUIPE</span>
        <button>ADICIONAR</button>
    </div>

    <div class="equipe-card">
        <span>EQUIPE</span>
        <button>ADICIONAR</button>
    </div>

    <div class="equipe-card">
        <span>EQUIPE</span>
        <button>ADICIONAR</button>
    </div>

    <div class="equipe-card">
        <span>EQUIPE</span>
        <button>ADICIONAR</button>
    </div>

</main>

</body>
</html>