<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ranking</title>

    <link rel="stylesheet" href="css/componentes.css">
    <link rel="stylesheet" href="css/ranking.css">

</head>

<body>

<header class="topo">

    <nav class="menu">

        <a href="inicio.html">Início</a>

        <a href="inicio.html#memoria">Faça sua parte</a>

        <a href="ranking.html" class="ativo">
            Ranking
        </a>

    </nav>

    <img src="assets/logo_sis.png" class="logo-menu">

</header>

<main class="ranking">

    <h1>RANKING</h1>

    <table>

        <thead>

            <tr>

                <th>POSIÇÃO</th>

                <th>EQUIPE</th>

                <th>QUANTIDADE ARRECADADA</th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td>1º.</td>

                <td>NOME EQUIPE</td>

                <td>100 KG</td>

            </tr>

            <tr>

                <td>2º.</td>

                <td>NOME EQUIPE</td>

                <td>100 KG</td>

            </tr>

            <tr>

                <td>3º.</td>

                <td>NOME EQUIPE</td>

                <td>100 KG</td>

            </tr>

            <tr>

                <td>4º.</td>

                <td>NOME EQUIPE</td>

                <td>100 KG</td>

            </tr>

            <tr>

                <td>5º.</td>

                <td>NOME EQUIPE</td>

                <td>100 KG</td>

            </tr>

            <tr>

                <td>6º.</td>

                <td>NOME EQUIPE</td>

                <td>100 KG</td>

            </tr>

            <tr>

                <td>7º.</td>

                <td>NOME EQUIPE</td>

                <td>100 KG</td>

            </tr>

        </tbody>

    </table>

</main>

</body>
</html>